<section class="ingridients-block">
  <div class="container">
    <h2 class="section-titile">
      It all adds up to one exceptional
      <span class="accent-color">taste</span> sensation
    </h2>
    <ul class="ingridients-list">
      <li class="ingridients-item">
        <div class="front-card">
          <picture>
            <source
              srcset="
                /img/ingridients/chocolate-desktop.png    1x,
                /img/ingridients/chocolate-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingridients/chocolate.png    1x,
                /img/ingridients/chocolate@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="ingridients-img"
              src="/img/ingridients/chocolate.png"
              alt="milk chocolate pieces"
            />
          </picture>
          <p class="ingridients-card-title">milk chocolate</p>
        </div>
      </li>
      <li class="ingridients-item">
        <div class="front-card">
          <picture>
            <source
              srcset="
                /img/ingridients/milk-desktop.png    1x,
                /img/ingridients/milk-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingridients/milk.png    1x,
                /img/ingridients/milk@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="ingridients-img"
              src="/img/ingridients/milk.png"
              alt="full bottle of milk"
            />
          </picture>
          <p class="ingridients-card-title">milk</p>
        </div>
      </li>
      <li class="ingridients-item">
        <div class="front-card dark">
          <picture>
            <source
              srcset="
                /img/ingridients/nuts-desktop.png    1x,
                /img/ingridients/nuts-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingridients/nuts.png    1x,
                /img/ingridients/nuts@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="ingridients-img"
              src="/img/ingridients/nuts.png"
              alt="two nuts and two pieces of nuts"
            />
          </picture>
          <p class="ingridients-card-title">nuts</p>
        </div>
      </li>
      <li class="ingridients-item">
        <div class="front-card">
          <picture>
            <source
              srcset="
                /img/ingridients/pieces-chocolate-desktop.png    1x,
                /img/ingridients/pieces-chocolate-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/ingridients/pieces-chocolate.png    1x,
                /img/ingridients/pieces-chocolate@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="ingridients-img"
              src="/img/ingridients/pieces-chocolate.png"
              alt="pile of chocolate granules"
            />
          </picture>
          <p class="ingridients-card-title">semi - sweet chocolate</p>
        </div>
      </li>
    </ul>
  </div>
</section>
